* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #d2d2d2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.calculator {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 320px;
    padding: 20px;
}

.calculator-screen {
    width: 70%;
    height: 40px;
    font-size: 2em;
    text-align: right;
    margin-bottom: 20px;
    padding: 15px;
    border: 2px solid #1c0d0d;
    border-radius: 5px;
    background-color: #91c5e7;
    color: #000000;
}

.calculator-keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
}

button {
    padding: 10px;
    font-size: 1.5em;
    border: none;
    border-radius: 5px;
    background-color: #ccc7ea;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.1s;
}

button:active {
    transform: scale(0.98);
}

button.operator {
    background-color: #410ea7;
    color: white;
}

button.operator:hover {
    background-color: #4500e6;
}

button.equal-sign {
    background-color: #b351b7;
    color: rgb(26, 10, 21);
    grid-column: span 1;
}

button.equal-sign:hover {
    background-color: #45a049;
}

button.all-clear {
    background-color: #e64a19;
    color: white;
}

button.all-clear:hover {
    background-color: #d43f13;
}

button:hover {
    background-color: #ddd;
}

button:focus {
    outline: none;
}

@media (max-width: 600px) {
    .calculator {
        width: 280px;
    }
}
