
body {
    font-family: Arial, sans-serif;
    background-color: #f8ecb4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.calculator {
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 300px;
}

.display {
    margin-bottom: 20px;
}

input[type="text"] {
    width: 93%;
    height: 50px;
    font-size: 1.5em;
    text-align: right;
    border: none;
    border-radius: 10px;
    box-shadow: inset 0px 4px 6px rgba(0, 0, 0, 0.1);
    padding: 0 10px;
    background-color: #f7f9fc;
    color: #333;
}



.btn {
    height: 50px;
    border: none;
    border-radius: 10px;
    font-size: 1.2em;
    background-color: #e3f2fd;
    color: #0d47a1;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s;
}

.btn:hover {
    background-color: #bbdefb;
    transform: scale(1.05);
}
.btn:active {
    background-color: #0077ff;
    transform: scale(1.05);

}

.operator {
    background-color: #ffd54f;
    color: #f57f17;
}

.operator:hover {
    background-color: #ffb300;
}
.operator:active {
    background-color: #d3a203;
    transform: scale(1.05);

}
    

.clear {
    background-color: #f44336;
    color: white;
    grid-column: span 4;
}

.clear:hover {
    background-color: #e53935;
}

.clear:active {
    background-color: #a70303;
    transform: scale(1.05);
}
.buttons {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;

}
.title {
    position: absolute;
    top: 165px;
    color: rgb(0, 0, 0);
    font-size: 45px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    
}
